/* Importación de fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

/* Variables para los colores */
:root {
    --color-crema: #f1e4c3ef;
    --color-azul: #2e6fb9e1;
    --color-rojo: #ee8282;
    --color-gris: #ddd;
    --color-azul-oscuro: #1a5bbc93;
    --color-amarillo-claro: #b97d2ee1;
}

/* Estilos generales */
body {
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden; 
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

/* Estilos para el encabezado */
.bgCremaPropio {
    background-color: var(--color-crema);
}

/* Estilos de imagen */
img {
    max-width: 100%;
    height: auto;    
}

/* Estilos para la barra de navegación */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color-azul);
}

.navbar {
    background-color: var(--color-crema);
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;

    font-weight: bold;
}*

.navbar ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}*

.navbar li {
    display: inline-block;
    margin: 10px,;
    text-align: center;
    position: sticky;
    font-size: 1rem;
    padding-right: 20px;
}

.navbar li a {
    color: var(--color-rojo);
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.3s;
    text-align: right;   
}

.navbar li:hover a, .navbar-toggler:hover {
    background-color: var(--color-gris);
    color: #fff;
    padding: 5px;
    background-color: var(--color-azul-oscuro);
    height: 30px;
}

/* Estilos para el logo */
.logo {
    max-width: 300px;
    float: left;
    display: inline;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

/* Estilos para el elemento 'nav' */
nav {
    position: relative;
    display: inline;
    bottom: 5px;
    
}

/* Estilos para el contenido principal */
.main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
}

main h1 {
    text-align: center;
    padding: 30px;
    padding-left: 100px;
    
}

h2, h3, h4 {
    text-align: center;
}

/* Estilos para los artículos */
article {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-top: 30px;
}

article h2 {
    color: #333;
    font-size: 22px;
}

article p, article a {
    color: #666;
    font-size: 18px;
}



/* Estilos para el footer */
footer {
    background-color: var(--color-amarillo-claro);
    color: #d3d0d0;
    text-align: center;
    padding: 5px 0;
    height: 100px;
}

/* Propiedades del formulario en la página de "Contacto" */
form {
    width: 300px;
    margin: 0 auto;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit], input[type=reset] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset] {
    background-color: var(--color-azul-oscuro);
    color: white;
    border: none;
}

input[type=reset]:hover {
    background-color: #2177c7;
}

/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
    .main {
        max-width: 1200px;
        margin: auto;
    }

    .carousel-inner {
        max-width: 600px;
        margin: auto;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .main {
        padding: 10px;
    }

    .carousel-inner {
        max-width: 100%;
    }
    .container-text-center, .row{
        margin: 10px, 10px, 10px, 10px;
    }
}






