/* Estilos para el footer */
footer {
    width: 100%;
    background-color: var(--color-amarillo-claro);
    color: #ffffff;
    text-align: center;
    padding: 40px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    max-width: 300px;
    margin: 10px;
}

.footer-column h5,
.footer-column h6 {
    color: #ffffff;
    font-size: 16px;
}

.footer-column a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 1em;
}

.footer-column p {
    color: #fff;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
    }
}