/* Estilos para el contenido principal */
.main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
}

main h1 {
    text-align: center;
    padding: 30px;
    padding-left: 100px;
    
}

h2, h3, h4 {
    text-align: center;
}

/* Estilos para los artículos */
article {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-top: 30px;
}

article h2 {
    color: #333;
    font-size: 22px;
}

article p, article a {
    color: #666;
    font-size: 18px;
}
/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
    .main {
        max-width: 1200px;
        margin: auto;
    }

    .carousel-inner {
        max-width: 600px;
        margin: auto;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .main {
        padding: 10px;
    }

    .carousel-inner {
        max-width: 100%;
    }
    .container-text-center, .row{
        margin: 10px, 10px, 10px, 10px;
    }
}