/* Propiedades del formulario en la página de "Contacto" */
form {
    width: 300px;
    margin: 0 auto;
    white-space: normal;
}

input[type=text], input[type=mail], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit], input[type=reset] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    white-space: normal;
    margin: 2px,;
    radius: 8px;
    cursor: pointer;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset] {
    background-color: var(--color-azul-oscuro);
    color: white;
    border: none;
}

input[type=reset]:hover {
    background-color: #2177c7;
}

/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
    .main {
        max-width: 1200px;
        margin: auto;
    }

    .carousel-inner {
        max-width: 600px;
        margin: auto;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .main {
        padding: 10px;
    }

    .carousel-inner {
        max-width: 100%;
    }
    .container-text-center, .row{
        margin: 10px, 10px, 10px, 10px;
    }
}